﻿#tpl #Content #headerTableDiv {
    background: #003366;
}
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table[class*=dxeDisabled].dxeTextBoxSys input,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table[class*=dxeDisabled].dxeButtonEditSys input,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table[class*=dxeDisabled].dxeMemoSys input,

#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table[class*=dxeDisabled].dxeTextBoxSys,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table[class*=dxeDisabled].dxeButtonEditSys,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table[class*=dxeDisabled].dxeMemoSys {
    background: transparent;
}
#tpl #Content .xafNav .dxnb-content li.dxnb-item {
    justify-content: flex-start;
}

    #tpl #Content .xafNav .dxnb-content li.dxnb-item span.dx-vam {
        max-width: 100%;
    }

.dxnb-link {
    display: inline-block;
    width: 100%;
    color: #99abb4;
}

.dxnb-itemHover a {
    color: white !important;
}

.dxnbLite_XafTheme a {
    color: #99abb4;
}

.xafNav .dxnbLite_XafTheme .dxnb-item.dxnb-itemSelected a {
    background-color: transparent !important;
}

#Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item:not(.dxm-noImage) {
    width: auto;
    padding: 22px !important
}

.dxm-item.blueItem:not(.dxm-disabled) .dxm-content {
    background: transparent !important;
}