.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow,
#headerDivWithShadow,
#Vertical_navigation,
#menuInnerTable.menuAreaDiv:not(.movedInnerTable),
#mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
    box-shadow: none !important;
}

div#footer div.xafAlignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dxeButtonEditSys .dxeButton[class*="dxeButtonEditButton"]:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .btn:hover {
        color: #212529;
        text-decoration: none;
    }

    .btn:focus, .btn.focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .btn.disabled, .btn:disabled {
        opacity: 0.65;
    }

.theme-facebook {
    color: #fff !important;
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
}

    .theme-facebook:hover {
        color: #fff !important;
        background-color: #30497c !important;
        border-color: #2d4373 !important;
    }

.theme-twitter {
    color: #fff !important;
    background-color: #00aced !important;
    border-color: #00aced !important;
}

    .theme-twitter:hover {
        color: #fff !important;
        background-color: #0090c7 !important;
        border-color: #0087ba !important;
    }

.theme-linkedin {
    color: #fff !important;
    background-color: #4875b4 !important;
    border-color: #4875b4 !important;
}

    .theme-linkedin:hover {
        color: #fff !important;
        background-color: #3d6399 !important;
        border-color: #395d90 !important;
    }

.theme-flickr {
    color: #fff !important;
    background-color: #ff0084 !important;
    border-color: #ff0084 !important;
}

    .theme-flickr:hover {
        color: #fff !important;
        background-color: #d90070 !important;
        border-color: #cc006a !important;
    }

.theme-tumblr {
    color: #fff !important;
    background-color: #32506d !important;
    border-color: #32506d !important;
}

    .theme-tumblr:hover {
        color: #fff !important;
        background-color: #263d53 !important;
        border-color: #22364a !important;
    }

.theme-xing {
    color: #fff !important;
    background-color: #026466 !important;
    border-color: #026466 !important;
}

    .theme-xing:hover {
        color: #fff !important;
        background-color: #013f40 !important;
        border-color: #013334 !important;
    }

.theme-github {
    color: #fff !important;
    background-color: #4183c4 !important;
    border-color: #4183c4 !important;
}

    .theme-github:hover {
        color: #fff !important;
        background-color: #3570aa !important;
        border-color: #3269a0 !important;
    }

.theme-stack-overflow {
    color: #fff !important;
    background-color: #fe7a15 !important;
    border-color: #fe7a15 !important;
}

    .theme-stack-overflow:hover {
        color: #fff !important;
        background-color: #ec6701 !important;
        border-color: #df6101 !important;
    }

.theme-youtube {
    color: #fff !important;
    background-color: #b00 !important;
    border-color: #b00 !important;
}

    .theme-youtube:hover {
        color: #fff !important;
        background-color: #950000 !important;
        border-color: #880000 !important;
    }

.theme-dribbble {
    color: #fff !important;
    background-color: #ea4c89 !important;
    border-color: #ea4c89 !important;
}

    .theme-dribbble:hover {
        color: #fff !important;
        background-color: #e62a72 !important;
        border-color: #e51e6b !important;
    }

.theme-instagram {
    color: #fff !important;
    background-color: #517fa4 !important;
    border-color: #517fa4 !important;
}

    .theme-instagram:hover {
        color: #fff !important;
        background-color: #446b8a !important;
        border-color: #406582 !important;
    }

.theme-pinterest {
    color: #fff !important;
    background-color: #cb2027 !important;
    border-color: #cb2027 !important;
}

    .theme-pinterest:hover {
        color: #fff !important;
        background-color: #aa1b21 !important;
        border-color: #9f191f !important;
    }

.theme-vk {
    color: #fff !important;
    background-color: #45668e !important;
    border-color: #45668e !important;
}

    .theme-vk:hover {
        color: #fff !important;
        background-color: #385474 !important;
        border-color: #344d6c !important;
    }

.theme-yahoo {
    color: #fff !important;
    background-color: #400191 !important;
    border-color: #400191 !important;
}

    .theme-yahoo:hover {
        color: #fff !important;
        background-color: #2f016b !important;
        border-color: #2a015e !important;
    }

.theme-behance {
    color: #fff !important;
    background-color: #1769ff !important;
    border-color: #1769ff !important;
}

    .theme-behance:hover {
        color: #fff !important;
        background-color: #0055f0 !important;
        border-color: #0050e3 !important;
    }

.theme-reddit {
    color: #fff !important;
    background-color: #ff4500 !important;
    border-color: #ff4500 !important;
}

    .theme-reddit:hover {
        color: #fff !important;
        background-color: #d93b00 !important;
        border-color: #cc3700 !important;
    }

.theme-vimeo {
    color: #4f5d73 !important;
    background-color: #aad450 !important;
    border-color: #aad450 !important;
}

    .theme-vimeo:hover {
        color: #4f5d73 !important;
        background-color: #9bcc32 !important;
        border-color: #93c130 !important;
    }

div#mainDiv.paddings {
    padding: 0;
}

html,
body {
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 15px;
}

div#headerTableDiv {
    border-bottom: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

#headerTable #xafHeaderMenu .dxm-main.menuLinks ul.dx {
    display: flex;
    align-items: stretch;
}

#headerTable #xafHeaderMenu .dxm-main.menuLinks li.dxm-item {
    margin-bottom: 0;
    border: none;
    text-align: center;
    display: flex !important;
    align-items: stretch;
    padding: 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px !important;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

    #headerTable #xafHeaderMenu .dxm-main.menuLinks li.dxm-item + li.dxm-item {
        margin-left: 8px;
    }

    #headerTable #xafHeaderMenu .dxm-main.menuLinks li.dxm-item:hover {
        transform: translateY(-4px);
    }

        #headerTable #xafHeaderMenu .dxm-main.menuLinks li.dxm-item:hover span {
            color: #fff;
        }

#headerTable #xafHeaderMenu .dxm-main.menuLinks li.notificationItem.danger a.dxalink {
    background: #e55353;
}

#headerTable #xafHeaderMenu .dxm-main.menuLinks li.notificationItem a.dxalink {
    background: #aaa;
    flex: 1;
    border-radius: 0;
}

    #headerTable #xafHeaderMenu .dxm-main.menuLinks li.notificationItem a.dxalink img.dxm-image {
        border-radius: 50%;
        display: inline-block;
        padding: 0 !important;
        background: transparent;
    }

    #headerTable #xafHeaderMenu .dxm-main.menuLinks li.notificationItem a.dxalink span.dx-vam {
        border: none;
        position: unset;
        color: #fff;
    }

#headerTable #xafHeaderMenu .dxm-main.menuLinks li.accountItem a.dxalink {
    background: #00aced;
    flex: 1;
    color: #fff;
}

    #headerTable #xafHeaderMenu .dxm-main.menuLinks li.accountItem a.dxalink img.dxm-image {
        width: 16px !important;
        height: 16px !important;
        background: #fff;
        padding: 4px !important;
        border-radius: 50%;
    }

    #headerTable #xafHeaderMenu .dxm-main.menuLinks li.accountItem a.dxalink span {
        color: #fff !important;
    }

#headerTable #xafHeaderMenu .dxm-main.menuLinks .dxalink {
    padding: 4px 12px !important;
    border: none;
}

    #headerTable #xafHeaderMenu .dxm-main.menuLinks .dxalink span {
        text-decoration: none !important;
    }

#headerDivWithShadow {
    border: none;
}

div#footer {
    background: #333;
    border: none !important;
    border-top: 4px solid #4caf50 !important;
    padding: 0;
    text-align: center;
}

    div#footer a {
        color: #eee;
        text-decoration: none;
        font-size: 12px;
        display: inline-block;
        padding: 8px;
    }

    div#footer div {
        padding: 0;
    }

        div#footer div.xafAlignCenter {
            justify-content: space-between;
            max-width: 80%;
            padding: 8px;
            font-size: 12px;
        }

#Vertical_navigation .dxnb-headerCollapsed, #Vertical_navigation .dxnb-content .dxnb-item {
    background: #303c50;
    color: #fff;
}

.paddings {
    padding: 0 16px;
}

.xafNav > .xafContent {
    margin: 0;
}

#Vertical_NC_NB,
#Vertical_NC_NB > li,
#Vertical_NC_NB .dxnb-header {
    background: #303c50;
    color: #fff;
}

.dxnbLite_XafTheme .dxnb-header,
.dxnbLite_XafTheme .dxnb-headerCollapsed {
    border: none;
}

#Vertical_navigation {
    min-height: calc(100vh - 85px);
    background-color: #303c50;
    margin-top: 8px;
    border-radius: 0 4px 4px 0;
    overflow: hidden;
}

    #Vertical_navigation .dxnb-content .dxnb-item {
        padding-left: 24px;
    }

        #Vertical_navigation .dxnb-content .dxnb-item.dxnb-itemSelected, #Vertical_navigation .dxnb-content .dxnb-item.dxnb-itemHover {
            border-radius: 0;
            overflow: hidden;
            background: linear-gradient(45deg, #39f 0%, #2982cc 100%);
        }

            #Vertical_navigation .dxnb-content .dxnb-item.dxnb-itemSelected a, #Vertical_navigation .dxnb-content .dxnb-item.dxnb-itemHover a {
                background-color: transparent;
            }

        #Vertical_navigation .dxnb-content .dxnb-item.dxnb-itemHover {
            background: linear-gradient(45deg, #39f 0%, #2982cc 100%);
        }

        #Vertical_navigation .dxnb-content .dxnb-item a {
            color: #fff;
        }

    #Vertical_navigation .dxnb-last .dxnb-headerCollapsed {
        border-bottom: none;
    }

    #Vertical_navigation .dxnb-gr [class*="dxnb-header"] {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    #Vertical_navigation .dxnb-gr + .dxnb-gr {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    #Vertical_navigation .dxnb-gr .dxnb-headerCollapsed.dxnb-headerCollapsedHover {
        background-color: #3c4b64;
    }

.xafNav .dxnb-content {
    padding: 0;
}

#Vertical_navigation.xafNav .dxnbLite_XafTheme {
    border: none !important;
}

#mainDiv #content {
    padding: 0 8px;
}

#menuInnerTable.menuAreaDiv:not(.movedInnerTable) {
    background: linear-gradient(45deg, #3c4b64 0%, #2982cc 100%) !important;
    margin: 0.5rem 0;
    padding: 0.5rem !important;
    border-radius: 4px;
}

#mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-noSubMenu .ControlCaption span, #mainDiv .dxmLite_XafTheme .menuLinks.dxm-horizontal ul.dx li.dxm-noSubMenu .ControlCaption span {
    padding-right: 4px;
    color: #fff;
}

#mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item, #mainDiv .dxmLite_XafTheme .menuLinks.dxm-horizontal ul.dx li.dxm-item {
    transition: transform 0.3s ease-in-out;
    position: relative !important;
}

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.dxm-disabled, #mainDiv .dxmLite_XafTheme .menuLinks.dxm-horizontal ul.dx li.dxm-item.dxm-disabled {
        cursor: not-allowed;
        border: 1px solid #ddd !important;
        background: #eee !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.dxm-disabled a.dxalink.dxm-disabled, #mainDiv .dxmLite_XafTheme .menuLinks.dxm-horizontal ul.dx li.dxm-item.dxm-disabled a.dxalink.dxm-disabled {
            background: #eee;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item:hover:not(.dxm-dropDownMode):not(.dxm-tmpl), #mainDiv .dxmLite_XafTheme .menuLinks.dxm-horizontal ul.dx li.dxm-item:hover:not(.dxm-dropDownMode):not(.dxm-tmpl) {
        transform: translateY(-4px);
    }

#mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item {
    border-collapse: collapse;
    border: none !important;
    background: #fff !important;
}

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-facebook {
        color: #fff !important;
        background-color: #3b5998 !important;
        border-color: #3b5998 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-facebook:hover {
            color: #fff !important;
            background-color: #30497c !important;
            border-color: #2d4373 !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-facebook span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-twitter {
        color: #fff !important;
        background-color: #00aced !important;
        border-color: #00aced !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-twitter:hover {
            color: #fff !important;
            background-color: #0090c7 !important;
            border-color: #0087ba !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-twitter span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-linkedin {
        color: #fff !important;
        background-color: #4875b4 !important;
        border-color: #4875b4 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-linkedin:hover {
            color: #fff !important;
            background-color: #3d6399 !important;
            border-color: #395d90 !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-linkedin span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-flickr {
        color: #fff !important;
        background-color: #ff0084 !important;
        border-color: #ff0084 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-flickr:hover {
            color: #fff !important;
            background-color: #d90070 !important;
            border-color: #cc006a !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-flickr span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-tumblr {
        color: #fff !important;
        background-color: #32506d !important;
        border-color: #32506d !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-tumblr:hover {
            color: #fff !important;
            background-color: #263d53 !important;
            border-color: #22364a !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-tumblr span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-xing {
        color: #fff !important;
        background-color: #026466 !important;
        border-color: #026466 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-xing:hover {
            color: #fff !important;
            background-color: #013f40 !important;
            border-color: #013334 !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-xing span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-github {
        color: #fff !important;
        background-color: #4183c4 !important;
        border-color: #4183c4 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-github:hover {
            color: #fff !important;
            background-color: #3570aa !important;
            border-color: #3269a0 !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-github span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-stack-overflow {
        color: #fff !important;
        background-color: #fe7a15 !important;
        border-color: #fe7a15 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-stack-overflow:hover {
            color: #fff !important;
            background-color: #ec6701 !important;
            border-color: #df6101 !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-stack-overflow span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-youtube {
        color: #fff !important;
        background-color: #b00 !important;
        border-color: #b00 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-youtube:hover {
            color: #fff !important;
            background-color: #950000 !important;
            border-color: #880000 !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-youtube span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-dribbble {
        color: #fff !important;
        background-color: #ea4c89 !important;
        border-color: #ea4c89 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-dribbble:hover {
            color: #fff !important;
            background-color: #e62a72 !important;
            border-color: #e51e6b !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-dribbble span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-instagram {
        color: #fff !important;
        background-color: #517fa4 !important;
        border-color: #517fa4 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-instagram:hover {
            color: #fff !important;
            background-color: #446b8a !important;
            border-color: #406582 !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-instagram span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-pinterest {
        color: #fff !important;
        background-color: #cb2027 !important;
        border-color: #cb2027 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-pinterest:hover {
            color: #fff !important;
            background-color: #aa1b21 !important;
            border-color: #9f191f !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-pinterest span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-vk {
        color: #fff !important;
        background-color: #45668e !important;
        border-color: #45668e !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-vk:hover {
            color: #fff !important;
            background-color: #385474 !important;
            border-color: #344d6c !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-vk span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-yahoo {
        color: #fff !important;
        background-color: #400191 !important;
        border-color: #400191 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-yahoo:hover {
            color: #fff !important;
            background-color: #2f016b !important;
            border-color: #2a015e !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-yahoo span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-behance {
        color: #fff !important;
        background-color: #1769ff !important;
        border-color: #1769ff !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-behance:hover {
            color: #fff !important;
            background-color: #0055f0 !important;
            border-color: #0050e3 !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-behance span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-reddit {
        color: #fff !important;
        background-color: #ff4500 !important;
        border-color: #ff4500 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-reddit:hover {
            color: #fff !important;
            background-color: #d93b00 !important;
            border-color: #cc3700 !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-reddit span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-vimeo {
        color: #4f5d73 !important;
        background-color: #aad450 !important;
        border-color: #aad450 !important;
    }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-vimeo:hover {
            color: #4f5d73 !important;
            background-color: #9bcc32 !important;
            border-color: #93c130 !important;
        }

        #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.theme-vimeo span.dx-vam {
            color: #fff;
        }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item table {
        border-collapse: collapse;
        border: none !important;
        margin: 0;
    }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item > a.dxalink {
        transition: 0.3s ease-in-out;
    }

    #mainDiv td#menuCell #menuContainer #Vertical_mainMenu_Menu.menuButtons > ul.dx li.dxm-item.dxm-disabled > .dxalink {
        background: none !important;
    }

#mainDiv .dxmLite_XafTheme .menuLinks.dxm-horizontal ul.dx li.dxm-item {
    border: 1px solid #eee;
}

#mainDiv #menuAreaDiv.movedMenu {
    background: #303c50;
}

    #mainDiv #menuAreaDiv.movedMenu td#menuCell {
        padding-right: 32px;
    }

    #mainDiv #menuAreaDiv.movedMenu #toggleSeparator_m {
        border-color: rgba(198, 198, 198, 0.3) !important;
    }

.dxeButtonEditSys .dxeButton[class*="dxeButtonEditButton"] {
    position: relative;
    border: 1px solid transparent !important;
}

    .dxeButtonEditSys .dxeButton[class*="dxeButtonEditButton"]:hover, .dxeButtonEditSys .dxeButton[class*="dxeButtonEditButton"][class*="dxeButtonEditButtonHover"] {
        background: none;
        border: 1px solid transparent !important;
    }

        .dxeButtonEditSys .dxeButton[class*="dxeButtonEditButton"]:hover:after, .dxeButtonEditSys .dxeButton[class*="dxeButtonEditButton"][class*="dxeButtonEditButtonHover"]:after {
            transform: scaleY(1);
            opacity: 1;
        }

    .dxeButtonEditSys .dxeButton[class*="dxeButtonEditButton"]:after {
        background: #ddd;
        z-index: 0;
        border-radius: 0 2px 2px 0;
        transition: 0.25s ease-in-out;
        transform: scaleY(0);
    }

    .dxeButtonEditSys .dxeButton[class*="dxeButtonEditButton"] img {
        position: relative;
        z-index: 2;
    }

.form-control,
.WebEditorCell .dxeTextBoxSys,
.WebEditorCell .dxeButtonEditSys,
.WebEditorCell .dxeMemoSys {
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .form-control::-ms-expand,
    .WebEditorCell .dxeTextBoxSys::-ms-expand,
    .WebEditorCell .dxeButtonEditSys::-ms-expand,
    .WebEditorCell .dxeMemoSys::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    .form-control:focus, .form-control[class*="dxeFocused"],
    .WebEditorCell .dxeTextBoxSys:focus,
    .WebEditorCell .dxeButtonEditSys:focus,
    .WebEditorCell .dxeMemoSys:focus,
    .WebEditorCell [class*="dxeFocused"].dxeTextBoxSys,
    .WebEditorCell [class*="dxeFocused"].dxeButtonEditSys,
    .WebEditorCell [class*="dxeFocused"].dxeMemoSys {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .form-control::-webkit-input-placeholder,
    .WebEditorCell .dxeTextBoxSys::-webkit-input-placeholder,
    .WebEditorCell .dxeButtonEditSys::-webkit-input-placeholder,
    .WebEditorCell .dxeMemoSys::-webkit-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .form-control::-moz-placeholder,
    .WebEditorCell .dxeTextBoxSys::-moz-placeholder,
    .WebEditorCell .dxeButtonEditSys::-moz-placeholder,
    .WebEditorCell .dxeMemoSys::-moz-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .form-control:-ms-input-placeholder,
    .WebEditorCell .dxeTextBoxSys:-ms-input-placeholder,
    .WebEditorCell .dxeButtonEditSys:-ms-input-placeholder,
    .WebEditorCell .dxeMemoSys:-ms-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .form-control::-ms-input-placeholder,
    .WebEditorCell .dxeTextBoxSys::-ms-input-placeholder,
    .WebEditorCell .dxeButtonEditSys::-ms-input-placeholder,
    .WebEditorCell .dxeMemoSys::-ms-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .form-control::placeholder,
    .WebEditorCell .dxeTextBoxSys::placeholder,
    .WebEditorCell .dxeButtonEditSys::placeholder,
    .WebEditorCell .dxeMemoSys::placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .form-control:disabled, .form-control[readonly],
    .WebEditorCell .dxeTextBoxSys:disabled,
    .WebEditorCell .dxeButtonEditSys:disabled,
    .WebEditorCell .dxeMemoSys:disabled,
    .WebEditorCell [readonly].dxeTextBoxSys,
    .WebEditorCell [readonly].dxeButtonEditSys,
    .WebEditorCell [readonly].dxeMemoSys {
        background-color: #e9ecef;
        opacity: 1;
    }

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

.WebEditorCell .dxeTextBoxSys,
.WebEditorCell .dxeButtonEditSys,
.WebEditorCell .dxeMemoSys {
    border-radius: 4px;
}

    .WebEditorCell .dxeTextBoxSys textarea,
    .WebEditorCell .dxeTextBoxSys input,
    .WebEditorCell .dxeTextBoxSys .dxic,
    .WebEditorCell .dxeButtonEditSys textarea,
    .WebEditorCell .dxeButtonEditSys input,
    .WebEditorCell .dxeButtonEditSys .dxic,
    .WebEditorCell .dxeMemoSys textarea,
    .WebEditorCell .dxeMemoSys input,
    .WebEditorCell .dxeMemoSys .dxic {
        border-radius: 4px;
    }

.Caption {
    font-size: 1rem;
}

    .Caption .required {
        color: #f42;
    }

#viewSite input {
    min-height: 26px;
    font-weight: 400 !important;
    color: #4a4a4a !important;
    font-size: 1rem;
}

#viewSite textarea {
    min-height: 72px;
    font-size: 1rem;
}

#viewSite [id*="UploadInputs"] tr td {
    padding: 4px !important;
}

    #viewSite [id*="UploadInputs"] tr td:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    #viewSite [id*="UploadInputs"] tr td:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

.dxpLite_XafTheme .dxp-button, .dxpLite_XafTheme .dxp-num {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: 0.4s ease;
}

.dxpLite_XafTheme .dxp-button {
    border: none;
}

.dxpLite_XafTheme .dxp-num {
    border-radius: 50%;
}

    .dxpLite_XafTheme .dxp-num.dxp-current {
        border-radius: 50%;
    }

    .dxpLite_XafTheme .dxp-num:hover {
        transform: translateY(-4px);
    }

.dxpLite_XafTheme a.dxp-num:hover {
    background: #d3f3f8;
}

table[class*="dxgvControl"] {
    border: none;
}

    table[class*="dxgvControl"] div[class*="dxgvPagerBottomPanel"] {
        border: none;
    }

    table[class*="dxgvControl"] table[class*="dxgvTable"] {
        border: none;
    }

        table[class*="dxgvControl"] table[class*="dxgvTable"] [class*="dxgvHeader"] {
            border: none;
            text-transform: uppercase;
            font-weight: bold;
        }

        table[class*="dxgvControl"] table[class*="dxgvTable"] tr:nth-child(odd) > td.dxgv {
            background-color: #eee;
        }

        table[class*="dxgvControl"] table[class*="dxgvTable"] tr[class*="dxgvDataRow"]:hover {
            background-color: rgba(60, 75, 100, 0.1) !important;
        }

            table[class*="dxgvControl"] table[class*="dxgvTable"] tr[class*="dxgvDataRow"]:hover td.dxgv {
                background-color: rgba(60, 75, 100, 0.1) !important;
            }

            table[class*="dxgvControl"] table[class*="dxgvTable"] tr[class*="dxgvDataRow"]:hover td.ActionCell .dxbButtonSys {
                visibility: visible;
                transform: translateY(0);
                opacity: 1;
            }

        table[class*="dxgvControl"] table[class*="dxgvTable"] tr[class*="dxgvDataRow"] > td.dxgv {
            border: none;
            border-bottom: 1px solid #ddd !important;
        }

        table[class*="dxgvControl"] table[class*="dxgvTable"] tr[class*="dxgvDataRow"] > td.ActionCell {
            overflow: hidden;
        }

            table[class*="dxgvControl"] table[class*="dxgvTable"] tr[class*="dxgvDataRow"] > td.ActionCell .dxbButtonSys {
                transition: 0.4s ease-in-out;
                opacity: 0.2;
            }

.CardGroupBase .GroupHeader {
    color: #321fdb !important;
    font-weight: 500;
    padding: 12px 0 !important;
}

.CardGroupBase .CardGroupContent {
    padding: 19px;
}

    .CardGroupBase .CardGroupContent .Caption {
        font-size: 1rem;
        margin-bottom: 4px;
    }

[id*="Vertical_mainMenu_Menu"] .dxm-popup .dxm-spacing {
    width: 100% !important;
    border-top: 1px solid #eee;
}

[id*="Vertical_mainMenu_Menu"] .dxm-popup .dxm-item.dxm-tmpl {
    padding: 8px;
}

    [id*="Vertical_mainMenu_Menu"] .dxm-popup .dxm-item.dxm-tmpl table.ParametrizedActionControl {
        margin: 0;
        padding: 0;
        width: 100%;
    }

        [id*="Vertical_mainMenu_Menu"] .dxm-popup .dxm-item.dxm-tmpl table.ParametrizedActionControl .ControlCaption {
            min-width: 30px;
            text-align: right;
            padding-right: 4px;
        }

        [id*="Vertical_mainMenu_Menu"] .dxm-popup .dxm-item.dxm-tmpl table.ParametrizedActionControl .Label {
            width: 100%;
        }

div#Logon_UPPopupActions, div#Logon_UPPopupActions ul.dx, div#Logon_UPPopupActions ul.dx .dxm-item, div#Logon_UPPopupActions ul.dx .dxm-item a.dxalink {
    border: none;
    padding: 0;
    margin: 0;
    float: none;
    width: 100%;
    display: block;
}

div#Logon_PopupActions, div#Logon_PopupActions .menuButtons {
    margin: 0;
    padding: 0;
    border: none;
}

div#Logon_UPPopupActions ul.dx .dxm-item {
    display: flex;
    border: none !important;
}

    div#Logon_UPPopupActions ul.dx .dxm-item a.dxalink {
        padding: 12px !important;
    }

td.LogonContentCell .GroupContent {
    width: 100% !important;
    padding: 0;
}

.LogonMainTable.LogonContentWidth {
    border-radius: 4px;
    transition: 0.4s ease;
}

    .LogonMainTable.LogonContentWidth:hover {
        transform: translateY(-8px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }

        .LogonMainTable.LogonContentWidth:hover img.StaticImage {
            transform: translateY(-4px);
        }

    .LogonMainTable.LogonContentWidth .LogonContent.LogonContentWidth {
        border-radius: 4px;
    }

    .LogonMainTable.LogonContentWidth img.StaticImage {
        transition: 0.3s ease;
        display: block;
        margin: 0 auto;
    }

    .LogonMainTable.LogonContentWidth .StaticText {
        display: block;
        text-align: center;
    }

.LayoutTabbedGroupContainer .dxtc-wrapper.dxtc-stripContainer .dxtc-activeTab .dxtc-link, .LayoutTabbedGroupContainer .dxtc-wrapper.dxtc-stripContainer .dxtc-tab .dxtc-link {
    font-size: 1.1rem;
}

.LayoutTabbedGroupContainer .dxtc-wrapper.dxtc-stripContainer {
    border: none !important;
}

    .LayoutTabbedGroupContainer .dxtc-wrapper.dxtc-stripContainer .dxtc-leftIndent,
    .LayoutTabbedGroupContainer .dxtc-wrapper.dxtc-stripContainer .dxtc-rightIndent {
        border: none !important;
    }

    .LayoutTabbedGroupContainer .dxtc-wrapper.dxtc-stripContainer .dxtc-tab {
        background: transparent;
        border: none !important;
        border-bottom: 1px solid #c6c6c6 !important;
    }

        .LayoutTabbedGroupContainer .dxtc-wrapper.dxtc-stripContainer .dxtc-tab a.dxtc-link {
            color: #321fdb;
            font-weight: 500;
        }

    .LayoutTabbedGroupContainer .dxtc-wrapper.dxtc-stripContainer .dxtc-activeTab {
        border-radius: 4px 4px 0 0;
        border: 1px solid #c6c6c6 !important;
        border-bottom: none !important;
    }

/*# sourceMappingURL=style.css.map */
